@import url('reset.css');
@import url('https://fontlibrary.org/face/fantasque-sans-mono');

body {
    font-family: "Fantasque Sans Mono", monospace;
    background: black;
    color: #ccc;
    font-size: 14pt;
    margin: 2ch auto;
    padding: 2ch;
    width: 80ch;
    line-height: 2.5ch;
    min-height: 48ch;
}

em {
    font-style: italic;
}

/* Solarized colours :D */
.bg-15 { background-color: #002B36; }
.bg-20 { background-color: #073642; }
.bg-45 { background-color: #586E75; }
.bg-50 { background-color: #657B83; }
.bg-60 { background-color: #839496; }
.bg-65 { background-color: #93A1A1; }
.bg-92 { background-color: #EEE8D5; }
.bg-97 { background-color: #FDF6E3; }
.yellow { color: #B58900; }
.orange { color: #CB4B16; }
.red { color: #DC322F; }
.magenta { color: #D33682; }
.violet { color: #6C71C4; }
.blue { color: #268BD2; }
.cyan { color: #2AA198; }
.green { color: #859900; }

a:before { content: '['; opacity: .5; }
a:after { content: ']'; opacity: .5; }
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #fff;
}
a.no-decoration:before { content: none; }
a.no-decoration:after { content: none; }

.hr:before {
    display: block;
    clear: both;
    margin: 2ch 0px;
    opacity: .5;
    content: '--------------------------------------------------------------------------------';
    overflow: hidden;
    max-width: 80ch;
    white-space: nowrap;
}

p {
    margin-bottom: 2ch;
}

strong {
    font-weight: bold;
}

ul li:before {
    content: '* ';
    margin-left: -2ch;
}

ul li {
    margin-left: 2ch;
}

ul {
    margin-bottom: 2ch;
}

ul.long li {
    margin-bottom: 2ch;
}

@media(max-width: 82ch) {
    body {
        width: auto;
    }
    a{
        font-weight: bold;
    }
    a:before{
        content: '[ ';
    }
    a:after{
        content: ' ]';
    }
}

.me {
    float: right;
    max-height: 24ch;
    margin: 2ch 0px 2ch 2ch;
    image-rendering: crisp-edges;
}
.me-small {
    max-height: 8ch;
    margin: 0px 0px 0px 2ch;
}
