@import url('reset.css');
/*@import url('//fonts.googleapis.com/css?family=Source+Code+Pro:400,700');*/
@import url('https://fontlibrary.org/face/fantasque-sans-mono');

/*html {
    background: #111;
}*/

body {
    font-family: "Fantasque Sans Mono", monospace;
    background: black;
    color: #ccc;
    font-size: 12pt;
    margin: 1em auto;
    padding: 1em;
    width: 80ch;
/*    border: 0.1em solid #222;
    line-height: 1.2em;
    -webkit-box-shadow: 0px 0px 7px #000;
    -moz-box-shadow: 0px 0px 7px #000;
    -ms-box-shadow: 0px 0px 7px #000;
    -o-box-shadow: 0px 0px 7px #000;
    box-shadow: 0px 0px 7px #000;*/
    min-height: 22em;
}

@media(max-width: 82ch) {
    body {
        width: auto;
    }
}

body:hover {
    border-color: #444;
}
body:after {
    content: '.';
    float: right;
    margin-bottom: 1em;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.blink, body:after {
    -webkit-animation: blink 1s steps(60, start) infinite;
    -moz-animation: blink 1s steps(60, start) infinite;
    -ms-animation: blink 1s steps(60, start) infinite;
    -o-animation: blink 1s steps(60, start) infinite;
    animation: blink 1s steps(60, start) infinite;
}

.cursor, body:after {
    color: yellow;
    background-color: yellow;
}

/* Solarized colours :D */
.bg-15 { background-color: #002B36; }
.bg-20 { background-color: #073642; }
.bg-45 { background-color: #586E75; }
.bg-50 { background-color: #657B83; }
.bg-60 { background-color: #839496; }
.bg-65 { background-color: #93A1A1; }
.bg-92 { background-color: #EEE8D5; }
.bg-97 { background-color: #FDF6E3; }
.yellow { color: #B58900; }
.orange { color: #CB4B16; }
.red { color: #DC322F; }
.magenta { color: #D33682; }
.violet { color: #6C71C4; }
.blue { color: #268BD2; }
.cyan { color: #2AA198; }
.green { color: #859900; }

/*a:before { content: '\0000bb'; opacity: .5; }
a:after { content: '\0000ab'; opacity: .5; }*/
a:before { content: '['; opacity: .5; }
a:after { content: ']'; opacity: .5; }
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #fff;
}

.hr:before {
    display: block;
    clear: both;
    margin: 1em 0px;
    opacity: .5;
    content: '--------------------------------------------------------------------------------';
    overflow: hidden;
    max-width: 80ch;
    white-space: nowrap;
}

p {
    margin: 1em 0px;
}

strong {
    font-weight: bold;
}
